.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-xl);
  font-size: 14px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.content h1 {
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
  margin: var(--spacing-lg) 0;
}

.content span {
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-400);
}

.content p {
  color: var(--color-gray-300);
  margin-top: var(--spacing-sm);
}

.content p,
.content span {
  width: 100%;
}

.buttonWhatsapp {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.columns {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: var(--spacing-sm);
}
.float-button {
  display: flex;
  align-items: center; /* Alinha os itens no centro verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente, caso você queira */
  text-decoration: none;
  position: fixed;
  padding: 10px 15px; /* Ajuste o padding conforme necessário */
  bottom: 30px;
  right: 30px;
  color: #fff;
  background-color: #25D366;
  border-radius: 25px 30px 5px 25px;
  z-index: 100;
  font-family: Arial;
  font-size: 17px;
  animation: whatsApp-animation 0.5s ease-in-out;
  box-shadow: 1px 2px 5px 2px rgba(30,30,30,0.3);
  transition: all 0.3s ease-out;
  gap: 10px; /* Espaço entre o ícone e o texto */
}

/* Esta classe adicional será para o ícone */
.fa-whatsApp {
  display: flex; /* Usar flex aqui também */
  align-items: center;
  justify-content: center;
  font-size: 20px !important;
}


    .float-button:hover {
         background-color: #128C7E;
          color: #fff;
    }

    @keyframes whatsApp-animation {
        from {
            opacity: 0%;
        }

        to {
            opacity: 100%
        }
    }

    @media screen and (max-width: 545px) {
        span {
            display: none;
        }

        .float-button {
            bottom: 15px;
            right: 15px;
            width: 20px;
            border-radius: 20px 20px 5px 20px;
        }

        .fa-whatsApp {
            font-size: 22px !important;
            padding: 4px;
        }
    }