@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Luckiest+Guy&display=swap');



.title{
  /* font-family: "Holtwood One SC", serif; */
  /* font-family: "Fredericka the Great", serif; */
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: #fff;text-shadow: 1px 2px 4px #000;
}
.subtitle{
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
}

.buttonContainer {
  display: flex; /* Habilita flexbox para os botões */
  gap: 8px; /* Espaçamento entre os botões */
}



.adoptButton {
  background-color: #ffd700; /* Botão amarelo */
  color: #000;
  border: none;
  padding: 0.8em 1.6em;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.adoptButton:hover {
  background-color: #e6ac00; /* Cor do botão no hover */
}

.contentContainer {
  display: flex; /* Usa flexbox para organizar os filhos */
  gap: 8px; /* Espaçamento entre as divs filhas */
  flex-wrap: wrap; /* Permite que os itens mudem para a próxima linha conforme necessário */
  margin-top: 1em; /* Espaçamento acima do container */
  
}

.contentItem {
  flex: 1; /* Cada div filha cresce igualmente */
  min-width: 250px; /* Largura mínima antes de mudar para a próxima linha */
}

.containerLeft{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 1%;
    padding: 1em; /* Espaçamento interno do contêiner */
    text-align: justify;
}


.containerRight{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 1%;
     padding: 1em; /* Espaçamento interno do contêiner */
    text-align: center;
}

.cardsContainer{
   display: flex; /* Usa flexbox para alinhar horizontalmente */
    flex-wrap: nowrap; /* Não permite que os itens quebrem em linhas */
    overflow-x: auto; /* Adiciona rolagem horizontal se o conteúdo exceder a largura */
    gap: 10px; /* Espaçamento entre os Cards */
    align-items: flex-start; /* Alinha os itens ao topo */

    padding: 1em; /* Espaçamento interno do contêiner */
}

.cardsContainerLeft{
     display: flex; /* Usa flexbox para alinhar horizontalmente */
    flex-wrap: nowrap; /* Não permite que os itens quebrem em linhas */
    overflow-x: auto; /* Adiciona rolagem horizontal se o conteúdo exceder a largura */
    gap: 10px; /* Espaçamento entre os Cards */
    align-items: flex-start; /* Alinha os itens ao topo */
    width: 100%; /* Largura total do contêiner */
    height: 300px; /* Altura fixa, ajuste conforme necessário */
    background-image: url('../../assets/fundo.png'); /* Caminho para a imagem de fundo */
    background-position: right bottom; /* Alinhamento no canto direito inferior */
    background-size: 30%; /* Define o tamanho da imagem para 50% da largura do contêiner */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    transition: background-size 0.5s ease; /* Suaviza a transição do tamanho da imagem */
    padding: 1em; /* Espaçamento interno do contêiner */
     border-radius: 10px;
}


.cardsContainerRight{
    display: flex; /* Usa flexbox para alinhar horizontalmente */
    flex-wrap: nowrap; /* Não permite que os itens quebrem em linhas */
    overflow-x: auto; /* Adiciona rolagem horizontal se o conteúdo exceder a largura */
    gap: 10px; /* Espaçamento entre os Cards */
    align-items: flex-start; /* Alinha os itens ao topo */
    width: 100%; /* Largura total do contêiner */
    height: 250px; /* Altura fixa, ajuste conforme necessário */
    background-image: url('../../assets/img/cat.png'); /* Caminho para a imagem de fundo */
    background-position: right bottom; /* Alinhamento no canto direito inferior */
    background-size: 30%; /* Define o tamanho da imagem para 50% da largura do contêiner */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    transition: background-size 0.5s ease; /* Suaviza a transição do tamanho da imagem */
    padding: 1em; /* Espaçamento interno do contêiner */
    border-radius: 10px;
   
}
.titleHome{
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 18px;
  color: #fff;text-shadow: 1px 2px 4px #000;
}


.card {
  min-width: 0; /* Impede que os Cards estiquem */
  max-width: 200px; /* Largura máxima para os Cards */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column; /* Empilha as divs verticalmente em telas menores */
  }
}




.cardsShelter {
  display: flex;
  align-items: center;
  width: 65vw;
  max-width: 550px;
  padding: 30px 10px 20px 0px;
    background-color: rgba(255, 255, 255, 0.4);
  border-radius: 24px;
  text-align: left;
}

.cardsShelter img {
  max-width: 280px;
  width: 28vw;
  height: 200px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.cardsShelter h2 {
  font-size: 22px;
  margin-right: 30px;
}

.cardsShelter h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0 0 0 / 90%);
}

.cardsShelter p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0 0 0 / 70%);
  margin-bottom: 24px;
}

.cardsShelter button {
  border: 0;
  background: linear-gradient(90deg, #5448de, #5448de);
  color: #f8f8f8;
  font-family: inherit;
  padding: 16px 26px;
  font-size: 16px;
  border-radius: 40px;
}

@media (width <= 740px) {
  .cardsShelter {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .cardsShelter h2 {
    margin-right: 0;
    font-size: 26px;
    text-align: left;
  }

  .cardsShelter img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
  }
}