.container {
    width: 28em;
    height: 28em;
    margin: 2em auto;
    position: relative;
    perspective: 1000px;
    padding: 2em;
}

.flip3D {
  width: 100%;
  height: 100%;
  position: relative;
}

.flip3D > .front, .flip3D > .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.3em;
  backface-visibility: hidden;
  transition: transform 0.5s linear;
}

.flip3D > .front {
 display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  text-decoration: none;
   border-radius: 12px;
}

.flip3D > .back {
  background: #fff; /* Cor de fundo do verso */
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

.flip3D:hover > .front {
  transform: rotateY(-180deg);
}

.flip3D:hover > .back {
  transform: rotateY(0deg);
}

.moreButton {
  margin-top: 1em;
  padding: 0.5em 1em;
  background-color: #03a9f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card img {
  width: 28em;
  height: 28em;
  max-width: 28em;
  max-height: 28em;
  object-fit: cover;
  border-radius: 12px;
}
.card span {
  font-size: 1em; /* Tamanho de fonte fixo */
  color: var(--color-gray-300);
  overflow-wrap: break-word;
  padding: 0.5em; /* Padding para o texto dentro do verso */
  
}
