.grid {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  /* max-width: 772px; */
  padding: var(--spacing-sm);
}

.container {
  background-color: rgba(255, 255, 255, 0.6); /* Branco com 80% de opacidade */
  width: 100%;

  border-radius: 20px;
  padding: 0 3%  0 3% ;
  margin: 3% 3% 3% 3% ;
}
